*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.logo-bar{
    width: 100%;
    height: 8vh;
    background-color: #0a0908;
    display: flex;
    justify-content: space-between;
}
.title{
    color: #f2f4f3;
    font-size: 1.5rem;
    align-self: center;
    padding-left: 1.5%;
    font-family:sans-serif;
}
.title i{
    transition: color 0.2s ease-in;
}
.title:hover{
    text-shadow: 2px 2px 4px rgba(226, 221, 221, 0.3);
}
.title i:hover{
    color: rgb(158, 3, 3);
}
.logo-icons{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-self: center;
    padding-right: 2%;
    color: #f2f4f3;
}
.guitar, .drum{
    font-size: 2rem;
    padding-top:2vh;
}
.music{
    font-size: 1.5rem;
    padding-bottom:2vh;
    padding-top: 1vh;
}
.main-container{
    width: 100%;
    height: 80vh;
    display: flex;
}
.songs-list-section{
    width: 20%;
    height: 100%;
    background-color: #0a0908;
    color: #f2f4f3;
}
.hero-section{
    width: 80%;
    height: 100%;
    background-color: #f2f4f3;
}
.hero-img img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}
.songs-list-section{
    max-height: 77vh;
    overflow-y: auto;
    padding: 8px;
    border: 2px solid #f2f4f3;
}
.songs-list-section::-webkit-scrollbar {
  width: 10px;
}

.songs-list-section::-webkit-scrollbar-thumb {
  background: #aaa;
}

.songs-list-section::-webkit-scrollbar-track {
  background: #f2f4f3;
}

.songs-list{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 5%;
    padding-right: 2%;
}
#first-item{
    padding-top: 2.2vh;
}
.songs-list li{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1rem;
}
.song__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.song__info img{
    height: 7vh;
    width: 7vh;
}

.song-functions{
    width: 100%;
    height: 12vh;
    background-color:#0a0908;
}
.song-progress-bar{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-bar {
    align-self: center;
    width: 60%;
    height: 10px;
    background: #f2f4f3;
    border-radius: 5px;
}

.progress-fill {
  height: 100%;
  background: #3b82f6;
  border-radius: 5px;
}
.control-bts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.control-bts i{
    color: #f2f4f3;
    font-size: 1.7rem;
    text-align: center;
}

@media (max-width: 444px) {
    .title{
        font-size: 1rem;
    }
    .logo-icons{
        font-size: 1.5rem;
        gap:2px;
    }
    .songs-list-section{
    width: 47%;
    }
}
@media (max-width: 884px){
    .songs-list-section{
    width: 40%;
    }
}