*{
    margin: 0;
    padding: 0;
}
.logo-bar{
    width: 100%;
    height: 10vh;
    background-color: #49111c;
}
.logo-icons{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.guitar, .drum{
    color: #f2f4f3;
    font-size: 7vh;
    padding-top:2vh;
}
.music{
    color: #0a0908;
    font-size: 7vh;
    padding-bottom:2vh;
}
.main-container{
    width: 100%;
    height: 90vh;
    display: flex;
}
.songs-list-section{
    width: 30%;
    height: 90vh;
    background-color: #0a0908;
}
.current-song-display{
    width: 70%;
    height: 90vh;
    background-color: #f2f4f3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.song-progress-bar{
    width: 100%;
    height: 10vh;
    background-color:#49111c;
}