/* universal styling */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
}

/* sytling of top logo bar */
.logo-bar{
    width: 100%;
    height: 8vh;
    background-color: #0a0908;
    display: flex;
    justify-content: space-between;
}
.title{
    color: #f2f4f3;
    font-size: 1.5rem;
    align-self: center;
    padding-left: 1.5%;
    font-family:sans-serif;
}
.title i{
    transition: color 0.2s ease-in;
}
.title i:hover{
    color: rgb(158, 3, 3);
}
.logo-icons{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-self: center;
    padding-right: 2%;
    color: #f2f4f3;
}
.guitar, .drum{
    font-size: 2rem;
    padding-top:2vh;
}
.music{
    font-size: 1.5rem;
    padding-bottom:2vh;
    padding-top: 1vh;
}

/* styling of hero section */
.main-container{
    width: 100%;
    height: 80vh;
    display: flex;
}

/* songs list styling */
.songs-list-section{
    width: 20%;
    height: 100%;
    background-color: #0a0908;
    color: #f2f4f3;
}
.songs-list-section{
    max-height: 77vh;
    overflow-y: auto;
    padding: 8px;
    border: 2px solid #f2f4f3;
}
.songs-list-section::-webkit-scrollbar {
  width: 10px;
}

.songs-list-section::-webkit-scrollbar-thumb {
  background: #aaa;
}

.songs-list-section::-webkit-scrollbar-track {
  background: #f2f4f3;
}

.songs-list{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 5%;
    padding-right: 2%;
}
#first-item{
    padding-top: 2.2vh;
}
.songs-list li{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1rem;
}
.song__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.song__info img{
    height: 7vh;
    width: 7vh;
}

/* hero section's current song information styling */
.hero-section{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #f2f4f3;
}
.hero-img img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    filter: blur(7px);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.currentSong-heroSection{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vh;
}
.currentSong-heroSection img{
    height: 30vh;
    width: 30vh;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* songs control section styling */
.song-functions{
    width: 100%;
    height: 12vh;
    background-color:#0a0908;
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-controls-bar{
    width: 80%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f4f3;
}
.song-progress-bar{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.progress-bar {
    align-self: center;
    width: 60%;
    height: 10px;
    background: #f2f4f3;
    border-radius: 5px;
}

.progress-fill {
  height: 100%;
  background: #3b82f6;
  border-radius: 5px;
}
.second-line{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.current-song-info{
    width: 45%;
    display: flex;
    align-items: center;
}
#current-cover{
    height:5vh ;
    width:5vh ;
}
.control-bts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 5%;
}
.control-bts i{
    color: #f2f4f3;
    font-size: 1.7rem;
    text-align: center;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 5px;
}

.volume-control i {
  color: #f2f4f3;
  font-size: 1.2rem;
}

.volume-control input {
  width: 100px;
  cursor: pointer;
}

/* media query for mobile responsiveness */
@media (max-width: 700px) {
    .title{
        font-size: 1rem;
    }
    .logo-icons{
        font-size: 1.5rem;
        gap:2px;
    }
    .songs-list-section{
    width: 47%;
    max-height: 77.4vh;
    }
    .songs-list li{
        font-size: 0.7rem;
    }
    .songs-list img{
        height:4vh;
        width: 4vh;
    }
    .currentSong-heroSection{
        left: 50%;
        font-size: 0.7rem;
    }
    .currentSong-heroSection div, 
    .currentSong-heroSection a {
        text-align: left;
        width: 100%;
    }
    .currentSong-heroSection img{
        height: 20vh;
        width: 20vh;
    }
    .song-controls-bar{
        width: 100%;
    }
    .second-line{
        width: 85%;
        gap:10px;
    }
    #current-cover{
    height:3vh ;
    width:3vh ;
    }
    .current-song-info{
        font-size: 0.7rem;
        width: 90%;
    }
    .control-bts{
        align-self: center;
    }
    .control-bts i{
    font-size: 1rem;
    }
    .volume-control i {
    font-size: 1rem;
    }
    .volume-control input {
    width: 60px;
    }
    
}

/* media query for tablet responsiveness */
@media (min-width: 700px) and (max-width: 1024px){
    .songs-list-section{
        width: 45%;
        max-height: 78.5vh;
    }
    .control-bts{
        margin-left: 0;
    }
    .second-line{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .currentSong-heroSection {
        left: 50%; 
        transform: translate(-50%, -50%); 
        font-size: 1.5rem;
        align-items: flex-start;    
        text-align: left;           
        width: fit-content;         
    }
    .currentSong-heroSection div, 
    .currentSong-heroSection a {
        text-align: left;
        width: 100%;
    }
}

/* media query for microsoft surface duo like screens */
@media (min-width: 1024px) and (max-width: 1120px){
    .songs-list-section{
    width: 30%;
    }
}